.proyectito {
    color: black;
    text-align: center;
    /* margin-top: 15px; */
    margin-bottom: 15px;
    /* padding: 10px; */
}
h1 {
    text-align: center;
    padding: 16px;
    border-right: 1px solid black;
    /* margin-left: 15px; */
 }

 
.titulo{
    text-align: center;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
   
}

.buton {
    text-align: right;
}


/* 
p {
line-height: normal;
margin: 10px;
} */

