<div class="container  proyectito" id="IdProyectos">
  <div class="row justify-content-center">
    <div class="col-md-4 titulo">
      <h1>Proyectos</h1>
    </div>
  

  <!-- Muestro las skills y las imagenes de los lenguajes / tecnologias -->


  <div *ngFor="let proyecto of proyectos" class=" col-md-8 justify-content-center proyectito">
    <div>
      <div>
        <h2>{{proyecto.nombre}}</h2>
      </div>
      <br>
    </div>
    <span class="header">
      <h6> {{proyecto.desempenio}} </h6>
    </span>
    <br>
    <span class="body">
      <h6>{{proyecto.url}}</h6>
    </span>
    <br>
    <span class="footer">
      <button *ngIf="isAdmin" (click)="Editar(proyecto)" class="btn editar"><i class="fas fa-edit"></i></button>
      <button *ngIf="isAdmin" class="btn borrar buton" data-bs-toggle="modal" data-bs-target="#proyectoBorrar"><i
        class="fas fa-trash"></i></button>
    <button *ngIf="isAdmin" (click)="Nuevo()" class="btn agregar">
      <i class="far fa-plus-square"></i></button>
    </span>
  </div>
</div>


  <!-- Muestro las skills y las imagenes de los lenguajes / tecnologias -->





  <!-- MODAL DE ELIMINAR -->

  <div class="modal fade" id="proyectoBorrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer" *ngFor="let proyecto of proyectos">
          <p>{{proyecto.nombre}}</p>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
          <button (click)="Delete(proyecto)" class="btn btn-warning borrar">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- MODAL DE ELIMINAR -->