.proyectito {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
h5 {
    text-align: center;
    border-bottom: 1px solid black;

 }

 
.titulo{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}