.proyectito {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    /* padding: 10px; */
}
h1 {
    text-align: center;
    border-right: 1px solid black;
    margin-left: 15px;

 }

 
.titulo{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.buton {
    text-align: right;
}


.col-sm-4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
p {
line-height: normal;
padding: 20px;
margin: 10px;
}