/* .education {
    color: black;
    text-align: center;
    } */



    h2 {
    text-align: left;
    color: black;
    margin-left: 15px;

     }


     p {
  display: block;
    color: black;
    font-size:large;
    text-align: right;
    }
    
.col-sm-4{
    text-align: center;
    margin: 15px 0px;

    /* margin-bottom: 15px; */
    padding: 0px 12px;

}

.col-sm-8 {
    padding: 0px 12px;
}

.buton {
    text-align: end;
    justify-content: flex-start;

}

.proyectito2 {
    text-align: left;
}

.rowcito {
    margin: 0px 12px;
    padding: 12px;
}