<div class="container proyectito" id="IdEducacion">
  <div class="row skil d-flex justify-content-between rowcito">
    <div class="col-md-4">
      <h1 class="card-title proyectito2"> Educacion</h1>
    </div>
    <div class="col-md-8 columnitaeduc">
      <div>
       

        <div *ngFor="let estudio of estudios">
          <h2> {{estudio.establecimiento}}</h2>
          <br>
          <h6> {{estudio.logro}} </h6>
          <br>
          <h6> {{estudio.fecha}} </h6> 
          <br>
          <br>
          <button *ngIf="isAdmin" class="btn btn" (click)="Editar(estudio)"><i class="fa-solid fa-pencil"></i></button>
        </div>

        <button *ngIf="isAdmin" class="btn borrar bot" data-bs-toggle="modal"
          data-bs-target="#exampleModalDeleteEducacion">
          <i class="fas fa-trash"></i> </button>
          <button *ngIf="isAdmin" class="btn btn" (click)="Agregar()"><i class="far fa-plus-square"></i></button>
      </div>


      <!-- MODAL DE ELIMINAR -->

      <div class="modal fade" id="exampleModalDeleteEducacion" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar educacion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" *ngFor="let estudio of estudios">
              <p>{{estudio.establecimiento}}</p>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
              <button (click)="Delete(estudio)" class="btn btn-warning borrar">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

    </div>