<div class="container education">
  <div class="row skil">
    <div class="col-sm-4">
      <h3>Educacion</h3>
    </div>
    <div class="col-sm-8">
      <br>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis maxime tenetur vero dolorem ad dolore
        fuga
        modi vitae doloribus placeat corrupti obcaecati reiciendis sunt inventore expedita itaque maiores, vel
        dolores!
      </p>
      <div class="buton">
      <i class="fa-solid fa-trash "></i>
      <i class="fa-solid fa-pencil " data-bs-toggle="modal" data-bs-target="#ExperienciaModal"></i>
    </div>
  </div>
</div>
</div>