
h2 {
    text-align: center;
    color: black;
    margin-left: 15px;

}

.col-sm-4 {
    text-align: center;
    margin: 15px 0px;
    color: black;

    /* margin-bottom: 15px; */
    padding: 0px 12px;

}

.col-sm-8 {
    padding: 0px 12px;
    text-align: center;
    color: black;

}
.educlass {
    text-align: center;
    align-items: center;

}

.buton {
    text-align: end;
    justify-content: flex-start;

}

.proyectito2 {
    text-align: center;
    
}

.rowcito {
    margin: 0px 12px;
    
}

h6 {
    text-align: center;
    color: black;
}

h1 {
   
    margin-left: 15px; 
    padding: 2rem;
}

.columnitaeduc {
    padding-top: 2rem;
}