<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rosybrown;">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/AP-logo.png"
            id="LogoAP"></a>
        <button class="navbar-toggler loginazo" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse navbar" id="navbarGeneral">
          <ul class="navbar-nav">

            <!-- <li class="nav-item">
              <a class="nav-link active" href="#"> Sobre mi </a>
            </li> -->
            <li class="nav-item dropdown navcolor">
              <a class="nav-link dropdown-toggle navcolor" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#IdEducacion">Educacion</a></li>
                <li><a class="dropdown-item" href="#IdExperiencia">Experiencia Laboral</a></li>
                <li><a class="dropdown-item" href="#IdProyectos"> Proyectos </a></li>
                <li><a class="dropdown-item" href="#IdTecnologias"> Tecnologias </a></li>
                


              </ul>
            </li>
          </ul>
          <button (click)=LogOut() *ngIf="this.token != undefined; else elseBlocked " class="btn btn-primary"> LogOut
          </button>
          <ng-template #elseBlocked><button class="btn btn-primary loginazo" [routerLink]="['/', 'Login']"> LogIn </button>
          </ng-template>

        </div>
        <a href="https://www.linkedin.com/in/paulatg/"><i class="SocialLink fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/PauTG"><i class="SocialGit fa-brands fa-github fa-2x"></i></a>
        <a href="https://discord.gg/4ew6gcVXFt"><i class="SocialDiscord fa-brands fa-discord fa-2x"></i></a>

      </div>
    </nav>


    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active carrocito">
          <img src="./../../../assets/portafolio1.png" class="d-block w-100 img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/portafolio2.png" class="d-block w-100 img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/portafolio3.png" class="d-block w-100 img" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
<div class="fonti">
  <h1>¡Bienvenidos a mi portafolio! </h1>
</div>
</body>