

#LogoAP{
    width: 90px;
}


i{
    float: right;
    max-width:20px;
    max-height: 20px;
}

/* .img{height: 90vh;
} */

.SocialLink{
  margin-right: 30px;
  color: white;
}

.SocialGit {
    margin-right: 30px;
    color:white;
}

.SocialDiscord{
    margin-right: 30px;
    color: white;
}

h1{
    text-align: center;
}

a,a:link,a:visited{
    color: black;
}
a:hover{
    color:rgb(247,222,221);
    background-color: rosybrown;
}

.carousel-inner {
        border-radius: 70%; 
        /* color: rosybrown ; */
}

.fonti {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}


.navbar {
    border-radius: 50%;

}

/* .loginazo {
 height: 35px;
 margin-right: 20px;
 color: white;
 background-color: #C9A0A0;
 border-color: #FBC3BC;} */

 .navcolor {
    column-rule-color: white;
 }

.logi{   
    margin-right: 20px;
    background-color: rosybrown;
    border-color: white;
    

 }
.login {
    justify-content: space-around;
}

.loginito {
    display: inline-flex;
    align-items: center;
}