

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Mi barrita</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Sobre mi </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Antecedentes laborales</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                               Aika
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Sobre Aika</a></li>
                                <li><a class="dropdown-item" href="#">Que le gusta a Aika</a></li>
                                <li><a class="dropdown-item" href="#">Que odia Aika</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- <nav>
    <ul>
<li> <a href="Pawli.html"> Inicio </a> </li>
    <li> <a href="Sobremi.html"> Sobre mi </a> </li>
<li> <a href= "ALaborales.html" > Antecedentes laborales </a></li>
    </ul>
</nav> -->
    </header>
    <section>
        <img class="Aika" src="../../../assets/WhatsApp Image 2021-06-01 at 23.08.59.jpeg" alt="Aikita">
        <div class="conteiner-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="subtitulo d-flex justify-content-between">
                        <h3>Proyecto :(</h3>
                    </div>
                </div>
            </div>
            <!-- <h1>Aika los invita a mi portafolio :) </h1>
  
    <h2>Este es mi primer trabajo <b>SOLA</b></h2> -->
            <div class="row">
                <div class="col-2">
                    <div class="subtitulo d-flex justify-content-between">
                        <h3>Proyecto :(</h3>
            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="subtitulo d-flex justify-content-between">
                        <h3>Proyecto 2</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="subtitulo d-flex justify-content-between">
                        <h3>Proyecto </h3>
                    </div>
                </div>
            </div>


        </div>

    </section>
    <footer>
        <h4>Gracias por visitar mi portfolio!</h4>
        <p> Paula G. Full stack jr.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

