.experiencita {
    color: black;
    text-align: center;
}

h1 {
    text-align: center;

    margin-left: 15px;

}



p {
    text-align: center;
    color: black;
    font-size: large;
}

.col-sm-4 {
    margin-top: 15px;
    margin-bottom: 15px;
}