<div class="container">
<div class="row">
    <div class="col-sm-4" text-center>
      <h3>Experiencia laboral</h3>
    </div>
    <div class="col-sm-12">
      <br>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis maxime tenetur vero dolorem ad dolore
        fuga
        modi vitae doloribus placeat corrupti obcaecati reiciendis sunt inventore expedita itaque maiores, vel
        dolores!
      </p>
      <i class="fa-solid fa-trash"></i>
      <i class="fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#ExperienciaModal"></i>
    </div>
  </div>
</div>