<!-- Editar Educacion-->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  id="EducacionModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar: Educacion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="elemento">
          <label for="nameImput" class="form-label">Puesto: </label>
          <input
            type="text"
            placeholder="Ejemplo: Full Stack Developer Jr"
            aria-label="Puesto"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Apellidos: </label>
          <input
            type="text"
            placeholder="Introduzca susapellidos"
            aria-label="apellido"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Nombres: </label>
          <input
            type="text"
            placeholder="Introduzca sus nombres"
            aria-label="Nombre"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Imagen: </label>
          <input type="file" id="#" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Editar Sobremi-->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  id="SobreMiModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar: Perfil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="elemento">
          <label for="nameImput" class="form-label">Puesto: </label>
          <input
            type="text"
            placeholder="Ejemplo: Full Stack Developer Jr"
            aria-label="Puesto"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Apellidos: </label>
          <input
            type="text"
            placeholder="Introduzca susapellidos"
            aria-label="apellido"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Nombres: </label>
          <input
            type="text"
            placeholder="Introduzca sus nombres"
            aria-label="Nombre"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Imagen: </label>
          <input type="file" id="#" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Editar introduccion-->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  id="IntroduccionModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar: Introduccion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="elemento">
          <label for="nameImput" class="form-label">Puesto: </label>
          <input
            type="text"
            placeholder="Ejemplo: Full Stack Developer Jr"
            aria-label="Puesto"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Apellidos: </label>
          <input
            type="text"
            placeholder="Introduzca susapellidos"
            aria-label="apellido"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Nombres: </label>
          <input
            type="text"
            placeholder="Introduzca sus nombres"
            aria-label="Nombre"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Imagen: </label>
          <input type="file" id="#" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Editar educacion-->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  id="EducacionModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar: Educacion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="elemento">
          <label for="nameImput" class="form-label">Puesto: </label>
          <input
            type="text"
            placeholder="Ejemplo: Full Stack Developer Jr"
            aria-label="Puesto"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Apellidos: </label>
          <input
            type="text"
            placeholder="Introduzca susapellidos"
            aria-label="apellido"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Nombres: </label>
          <input
            type="text"
            placeholder="Introduzca sus nombres"
            aria-label="Nombre"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Imagen: </label>
          <input type="file" id="#" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Editar perfil-->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  id="ExperienciaModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar: Experiencia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="elemento">
          <label for="nameImput" class="form-label">Puesto: </label>
          <input
            type="text"
            placeholder="Ejemplo: Full Stack Developer Jr"
            aria-label="Puesto"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Apellidos: </label>
          <input
            type="text"
            placeholder="Introduzca susapellidos"
            aria-label="apellido"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Nombres: </label>
          <input
            type="text"
            placeholder="Introduzca sus nombres"
            aria-label="Nombre"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Imagen: </label>
          <input type="file" id="#" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Editar perfil-->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  id="HabilidadesModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar: Habilidades</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="elemento">
          <label for="nameImput" class="form-label">Puesto: </label>
          <input
            type="text"
            placeholder="Ejemplo: Full Stack Developer Jr"
            aria-label="Puesto"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Apellidos: </label>
          <input
            type="text"
            placeholder="Introduzca susapellidos"
            aria-label="apellido"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Nombres: </label>
          <input
            type="text"
            placeholder="Introduzca sus nombres"
            aria-label="Nombre"
            class="form-control"
          />
        </div>

        <div class="elemento">
          <label for="nameImput" class="form-label">Imagen: </label>
          <input type="file" id="#" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>