<div class="container tecno">
  <div class="row skil">
    <div class="col-8 text-center">
      <h3>Tecnologías</h3>
    </div>
    <div class="col-4 justify-content-center">
      <p>
      <a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" target="_blank" rel="noreferrer"><img
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg"
          width="36" height="36" alt="HTML5" /></a>
      <a href="https://www.w3.org/TR/CSS/#css" target="_blank" rel="noreferrer"><img
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/css3-colored.svg"
          width="36" height="36" alt="CSS3" /></a>
      <a href="https://getbootstrap.com/" target="_blank" rel="noreferrer"><img
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/bootstrap-colored.svg"
          width="36" height="36" alt="Bootstrap" /></a>
      </p>
      <button (click)="Nuevo()" class="btn agregar bot"><i class="far fa-plus-square"></i></button>
      <button class="btn borrar bot" data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
          class="fas fa-trash"></i></button>
    </div>
  </div>



  <!-- Muestro las skills y las imagenes de los lenguajes / tecnologias -->


  <div *ngFor="let skill of skills" class="container skil">
    <div class="row ">
      <div class="col-4">
        <span class="header">
          <h3> {{skill.nombre}} </h3>
        </span>
      </div>
      <div class="col-8">
        <picture>
          <img src="{{skill.img}}" alt="Logos" id="logos" accept="image/*" />
        </picture>
        <circle-progress [percent]="skill.progress" [radius]="100" [imageSrc]="'../assets/imagen_html.png'"
          [showImage]="true" [imageHeight]="90" [imageWidth]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(36,0,32)'" [innerStrokeColor]="'rgba(222,0,255,1)'" [animation]="true"
          [animationDuration]="200">
        </circle-progress>
        <span class="footer">
          <button (click)="Editar(skill)" class="btn editar"><i class="fas fa-edit"></i></button>
        </span>
      </div>
    </div>
  </div>



  <!-- Muestro las skills y las imagenes de los lenguajes / tecnologias -->





  <!-- MODAL DE ELIMINAR -->

  <div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Skill</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer" *ngFor="let skill of skills">
          <picture>
            <img src="{{skill.img}}" alt="Logos" id="logos" accept="image/*" />
          </picture>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
          <button (click)="Delete(skill)" class="btn btn-warning borrar">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- MODAL DE ELIMINAR -->