<div class="container text-center d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <form action="">
          <div class="row">
            <div class="form-group">
              <label for="">Nombres:</label>
              <input [(ngModel)]="estudio.nombre" name="nombre" type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="">Progress %</label>
              <input [(ngModel)]="estudio.puesto" name="puesto" type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="">Fecha:</label>
              <input [(ngModel)]="estudio.fecha" name="fecha" type="text" class="form-control" />
            </div>
          </div>
          <span style="margin: 10px;"><button (click)="Guardar()" class="btn btn-danger">Guardar</button>
            <button (click)="Cancel()" class="btn btn-secondary">Cancelar</button></span>
        </form>
      </div>
    </div>
  </div>