<!-- Este es mi primer trabajo SOLA -->


<app-header></app-header>
<div class=" container skil">
<div class="row perfilc" *ngFor="let persona of personas">
  <div class="col-md-8">
        <h1 class="card-title">Sobre mi</h1>
      <h5> {{persona.nombre}}</h5>
      
      <h5> {{persona.apellido}} </h5>
      
      <h5> {{persona.titulo}} </h5>
    </div>
      <div class="col-md-4">
      
        <img class="perfil img-fluid" src="{{persona.img}}" accept="image/*">
        
        <button *ngIf="isAdmin" class="btn btn" (click)="Editar(persona)"><i class="fa-solid fa-pencil"></i></button>
      </div>
    
</div>
</div>


<app-educacion></app-educacion>
<app-experiencia></app-experiencia>
<app-proyectos></app-proyectos>
<app-hys></app-hys>
<app-footer></app-footer>