<!-- Este es mi primer trabajo SOLA -->


<app-header></app-header>


<div class="container skil">
  <div>
    <button class="btn btn" (click)="Agregar()"> Agregar </button>
    <div class="cardito" *ngFor="let persona of personas">
      <div>
        <h3 class="card-title">Sobre mi</h3>
      </div>
      <label> {{persona.nombre}}</label>
      <br>
      <label> {{persona.apellido}} </label>
      <br>
      <label> {{persona.titulo}} </label>
      <br>
      <img src="{{persona.img}}" accept="image/*">
      <br>
      <button class="btn btn" (click)="Editar(persona)"><i class="fa-solid fa-pencil"></i></button>
    </div>
  </div>

</div>



  <app-educacion></app-educacion>
  <app-experiencia></app-experiencia>
  <app-proyectos></app-proyectos>
  <app-hys></app-hys>
  <app-footer></app-footer>



