/* 
i {
float: right;
margin-right: 15px;
} */
/* 
p{
    text-align: center;
    color: black;
    font-size:large;
} */

/* h5 {
   text-align: center;
   border-bottom: 1px solid black;
} */

h5{
    text-align: center;
    color:black;
}

img
{
    width: 150px;
    height: 150px;
}

/* .container{
    margin-top: 10px;
} */

 /* .col-sm-4{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}  */

.cardito{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
}

.perfil {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    image-orientation: flip;
    margin: 1rem 0;
}

.perfilc{
    align-items: center;
}

h1 {
    border-bottom: 1px solid black;
}