
body {
    background-color: #BC8F8F;
    opacity: 1;
    background-image: linear-gradient(#c29a9a 1px, transparent 1px), linear-gradient(to right, #c29a9a 1px, #BC8F8F 1px);
    background-size: 20px 20px;
    box-sizing: border-box;
    
}





/* 
body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    border-radius: 20px; 
}  */



h1 {
    color: black;
}

p {
    color: black;
    flex: display;
}



/* .botoncito {
    float: right;
margin-right: 15px;
}  */

/* .container {
    max-width: 700px;
    width: 100%;
    padding: 45px 20px;
    margin: 0 auto;
    margin-top: 150px;
    border: 1px;
} */


#logos{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.skil{
    box-shadow: 0 0 30px E7CACA;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 1.5rem;
    background-color: C9A0A0;
    text-align: center;
    

  }

  .education{
    box-shadow: 0 0 30px E7CACA;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 1.5rem;
    background-color: C9A0A0;
  }

  .experiencita{
    box-shadow: 0 0 30px E7CACA;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 1.5rem;
    background-color: C9A0A0;
  }

  .proyectito {
    box-shadow: 0 0 30px E7CACA;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 1.5rem;
    background-color: C9A0A0;
    text-align: center;

  }

  .buton {
    text-align: end;
    justify-content: flex-start;

}

/* img{
    width: 150px;
    height: 150;
} */